.scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 90vh;
}

.horizontalRow{
    height: 2px;
    width: 100%;
    background-color: #3c8dbcaf;
}
.backGroundcultura{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/AcessoCultura.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.backGroundDiscriminacao{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/DiscriminacaoFamiliar.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.backGroundMausTratos{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/MausTratos.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.backGroundRacismo{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/racismo.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.backGroundSaude{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/saude.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.backGroundViolencia{
    background-image:
    linear-gradient(rgba(14, 26, 32, 0.842), rgba(26, 34, 38, 0.925)),
     url('../../assets/ViolenciaDomestica.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.rowHeight{
    height: 50px;
}

.card-style{
    min-height: 160px ;
    font-weight: bold;
}

.bold{
    font-weight: bolder;
}

.font-title{
    font-family: var(--font-title);
}

.font-text{
    font-family: var(--font-text);
}