.homeContainer{
    color: #2c3e50;
}

.link{
    color: aliceblue;
    text-decoration: none;
    border-radius: 16px;
    background-color: #2ecc71;
    padding: 4px 16px;
    font-weight: bold;
}

.imagemInstituicao{
    width: 80px;
}


