/* .backGroundGraficos{
    background-image:
    linear-gradient(rgba(246, 247, 248, 0.247), rgba(26, 34, 38, 0.562)),
     url('../../assets/chart-lg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
} */