.scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 90vh;
}

.horizontalRow{
    height: 2px;
    width: 100%;
    background-color: #3c8dbcaf;
}

.link{
    text-decoration: none;
}
.rowHeight{
    height: 50px;
}

.card-style{
    min-height: 80px ;
    font-weight: bold;
}

.bold{
    font-weight: bolder;
}

.font-title{
    font-family: var(--font-title);
}

.font-text{
    font-family: var(--font-text);
}

.font-card{
    font-size: 12px;
    font-family: var(--font-text);
}
