.scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 90vh;
}

.title-cadastro{
    font-family: var(--font-title);
}

.text-cadastro{
    font-family: var(--font-text);
}

.link{
    list-style: none;
    text-decoration: none;
}

.button-link{
    font-weight: bold;
}

.button-width{
    width: 160px;
    text-align: center;
}

@media screen and (max-width: 450px){
    .text-link{
        display: none;
    }
}